@charset "utf-8";



/* tabbar */

.toptabs {
    width: 100%;
    position: relative;
    padding: 0 var(--wrap);
}

.tabbar {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.tabbar li {
    display: flex;
    width: clamp(80px, 12vw, 145px);
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    color: var(--gray1);
}

.tabbar li.active {
    color: var(--brown);
    border-bottom: 2px solid var(--brown);
}


.ContestItemDetail {
    width: 100%;
}

.ContestItemDetail .contentBox {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: clamp(40px, 10vw, 88px) var(--wrap);
    gap: clamp(20px, 5vw, 80px);
}

.contentBox .video-container {
    width: 100%;
    max-width: clamp(320px, 90vw, 414px);
    aspect-ratio: 414 / 532;
    height: auto;
    flex-shrink: 0;
}

.contentBox .video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBox .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--margin-top40);
    min-width: 280px;
}

.contentBox .description .Topdescription {
    display: flex;
    flex-direction: column;
    gap: var(--margin-top30);
}

.contentBox .description .Topdescription .title {}

.contentBox .description .Topdescription .title .b4 {
    margin-bottom: 2px;
}

.contentBox .description .Topdescription .title .b7 {}

.contentBox .watchott {
    color: var(--gray1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contentBox .watchott ul {
    display: flex;
    flex-direction: column;
    gap: var(--margin-top10);
    margin-top: var(--margin-top10);
}

.contentBox .watchott ul li a {
    display: block;
    width: clamp(50px, 5vw, 80px);
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

.contentBox .watchott ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(50%);
    transition: 0.3s linear;
}

.contentBox .watchott ul li a:hover img {
    filter: saturate(100%);
}

/* 별점 */
.star-rating-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.star-rating {
    display: flex;
    gap: 4px;
}

.star-icon {
    width: clamp(18px, 2vw, 24px);
    height: auto;
}


.star-score {
    font-size: 18px;
    color: var(--gray1);
    font-weight: 500;
    line-height: 150%;
}


.contentBox .description .iconset {
    display: flex;
    justify-content: flex-end;
    gap: clamp(10px, 1vw, 20px);
}

.contentBox .description .iconset li {
    width: 90px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    cursor: pointer;
}

.contentBox .description .iconset li .heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(24px, 2vw, 28px);
    height: auto;
}

.contentBox .description .iconset li:nth-child(1) img {
    width: clamp(24px, 2vw, 28px);
}

.contentBox .description .iconset li img {
    width: clamp(30px, 2vw, 34px);
}

.heart-icon {
    position: relative;
    z-index: 2;
    width: clamp(30px, 4vw, 34px);
    height: clamp(30px, 4vw, 34px);
    cursor: pointer;
    background: url(../img/icon/heartempty.svg) no-repeat center/cover;
}

.heart-icon.on {
    background: url(../img/icon/heartfilled.svg) no-repeat center/cover;
}

.contentBox .description .iconset li .b8 {
    color: var(--navy);
}

.contentBox .description .descriptionText {
    word-break: keep-all;
    line-height: 150%;
}

/* 리뷰 */

.review-Wrapper {

    width: 100%;
    position: relative;
}

.rieview-bg {
    width: 100%;
    background: var(--main-color);
}

.rieview-bg .review {
    height: fit-content;
    padding: clamp(40px, 6vw, 94px) clamp(20px, 15vw, 304px);
}

.rieview-bg .review .num_more {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space80);
}

.rieview-bg .review .myReview {
    flex-shrink: 0;
    display: flex;
    padding: clamp(18px, 3vw, 26px) clamp(6px, 2vh, 12px);
    gap: clamp(20px, 2vw, 40px);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--point-color);
}

.user-icon {
    flex-shrink: 0;
}

.rieview-bg .review .myReview input {
    flex: 1;
    height: clamp(40px, 5vw, 56px);
    font-size: var(--body7-size);
    font-weight: 500;
    line-height: 150%;
    border-radius: 100px;
    background: rgba(241, 241, 241, 0.50);
    padding: 10px clamp(0px, 1vw, 40px);
}

.rieview-bg .review .userReview {
    display: flex;
    flex-direction: column;
}

.rieview-bg .review .userReview li {
    display: flex;
    color: var(--white);
    padding: clamp(18px, 3vw, 26px) clamp(6px, 2vh, 12px);
    border-bottom: 1px solid var(--sub-color);
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 2vw, 40px);
    word-break: keep-all;
}

.rieview-bg .review .userReview .userReviewContents {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rieview-bg .review .userReview .userReviewContents .userReviewTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rieview-bg .review .userReview .userReviewContents .userReviewTop .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 1vw, 30px);
}

.icons .heart-container {}

.user-icon {
    width: clamp(40px, 10vw, 80px);
    height: clamp(40px, 10vw, 80px);
    border-radius: 50%;
    overflow: hidden
}

.btn-sm_check {
    cursor: pointer;
    border-radius: 10px;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    font-size: var(--button1-size);
    font-weight: 400;
    align-items: center;
    color: var(--black);
    width: clamp(80px, 8vw, 112px);
    height: clamp(40px, 5vw, 56px);
    background: var(--point-color);
}

/* 갤러리 */

.gallery-wrapper {
    width: 100%;
}

.galleryBg {
    width: 100%;
    background: var(--main-color);
}

.galleryBg .gallery {
    height: fit-content;
    padding: clamp(40px, 6vw, 96px) var(--wrap);
    color: var(--white);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--margin-top80);
}

.galleryBg .gallery h2 {
    text-align: center;
}

.galleryBg .gallery .galleryswiper {
    width: 100%;
    height: auto;
    overflow: visible;
}

.galleryBg .gallery .galleryswiper .swiper-wrapper {
    display: flex;
}

.galleryBg .gallery .galleryswiper .swiper-slide {
    width: clamp(200px, 40vw, 416px);
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.galleryBg .imgbox {
    cursor: pointer;
}

.swiper-pagination {
    position: absolute;
    bottom: -10% !important;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 0.2;
    border-radius: 50%;
    margin: 0 6px;
    transition: opacity 0.3s;
    border: 1px solid var(--white-l);
    background: none;
}

.swiper-pagination-bullet:hover {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--white-l) !important;
    opacity: 1;
}

/* 캐스팅 */

.Cast-Wrapper {

    width: 100%;
    position: relative;
}

.Cast-bg {
    width: 100%;
    position: relative;
    background: var(--main-color);
}

.Cast-bg .Cast {
    height: fit-content;
    padding: clamp(34px, 10vw, 76px) clamp(30px, 10vw, 64px);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Cast h2 {
    width: 100%;
    text-align: center;
    margin-bottom: var(--space80);
}

.Cast .bu2 {
    width: 100%;
    text-align: right;
    margin-right: clamp(2px, 2vw, 100px);
    margin-bottom: clamp(20px, 5vh, 50px);
}

.Cast .castMember {
    display: flex;
    flex-wrap: wrap;
}

.Cast .castMember li {
    width: clamp(200px, 40vw, 434px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.Cast .castMember li .imgbox {
    width: clamp(60px, 15vw, 100px);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--point-color);
    margin-bottom: clamp(16px, 10vh, 24px);
}

.Cast .castMember li .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.Cast .castMember li .b6 {
    color: var(--point-color);
}

.Cast .castMember li .b7 {}

/* 비디오 슬라이드 */

.VideoSlide-wrapper {
    width: 100%;
    position: relative;
}

.VideoSlideBg {
    width: 100%;
    position: relative;
    background: var(--main-color);
    padding-bottom: var(--margin-top160);
}

.VideoSlideBg .VideoSlide {
    height: fit-content;
    padding: clamp(40px, 6vw, 96px) 0;
    color: var(--white);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--margin-top80);
}

.VideoSlideBg .VideoSlide h2 {
    text-align: center;
}

.VideoSlideBg .VideoSlide .video-swiper {
    width: 100%;
    height: auto;
    position: relative;
    overflow: visible;
}

.VideoSlideBg .VideoSlide .video-swiper .swiper-slide {
    width: clamp(200px, 50vw, 600px);
    height: auto;
}

.imgbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space40);
    cursor: pointer;
}

.imgbox img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px
}

.swiper-pagination {
    position: absolute;
    bottom: -10% !important;
    width: 100%;
    text-align: center;
    z-index: 10;
}

/* 페이지네이션 버튼 (클릭 가능한 점) */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 0.2;
    border-radius: 50%;
    margin: 0 6px;
    transition: opacity 0.3s;
    border: 1px solid var(--white-l);
    background: none;
}

/* 페이지네이션 버튼에 호버 효과 */
.swiper-pagination-bullet:hover {
    opacity: 1;
}

/* 페이지네이션 버튼이 활성화되었을 때 (현재 페이지) */
.swiper-pagination-bullet-active {
    background-color: var(--white-l);
    /* 원하는 활성화 색상 */
    opacity: 1;
}

/* recommend */
.recommend {
    width: 100%;
    padding: var(--margin-top150) 0;
    display: flex;
    flex-direction: column;
    gap: var(--margin-top80);
}
.recommend h2{
    padding: 0 var(--wrap);
}
.recommend .recommendswiper {
    width: 100%;
    position: relative;
    overflow: visible;
}

.recommend .recommendswiper .recommendwrapper {
    display: flex;
}

.recommend .recommendswiper .recommendwrapper .swiper-slide {
    max-width: clamp(200px, 26vw, 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-top10);
}

.recommendwrapper .swiper-slide .img_box {
    position: relative;
    padding: var(--space20);
    aspect-ratio: 300/412;
    width: 100%;
    max-width: clamp(200px, 26vw, 300px);
    height: auto;
    background: gray;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.recommendwrapper .swiper-slide .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--margin-top10);
}

.recommendswiper .swiper-pagination-bullet {
    background: var(--gray1) !important;
}

.recommendswiper .swiper-pagination-bullet-active {
    background: var(--point-color) !important;
}

.recommendwrapper .swiper-slide:nth-child(1) .img_box {
    background: url(../img/alldetail/recommendimg1.png);
}

.recommendwrapper .swiper-slide:nth-child(2) .img_box {
    background: url(../img/alldetail/recommendimg2.png);
}

.recommendwrapper .swiper-slide:nth-child(3) .img_box {
    background: url(../img/alldetail/recommendimg3.png);
}

.recommendwrapper .swiper-slide:nth-child(4) .img_box {
    background: url(../img/alldetail/recommendimg4.png);
}

.recommendwrapper .swiper-slide:nth-child(5) .img_box {
    background: url(../img/alldetail/recommendimg5.png);
}

.recommendwrapper .swiper-slide:nth-child(6) .img_box {
    background: url(../img/alldetail/recommendimg6.png);
}

.recommendwrapper .swiper-slide:nth-child(7) .img_box {
    background: url(../img/alldetail/recommendimg7.png);
}

.recommendwrapper .swiper-slide:nth-child(8) .img_box {
    background: url(../img/alldetail/recommendimg8.png);
}

.recommendwrapper .swiper-slide:nth-child(9) .img_box {
    background: url(../img/alldetail/recommendimg9.png);
}

.recommendwrapper .swiper-slide:nth-child(10) .img_box {
    background: url(../img/alldetail/recommendimg10.png);
}

.list {
    display: flex;
    flex-direction: column;
    padding: var(--margin-top160) var(--wrap);
    gap: var(--margin-top80);
}
.list .listwrap{
    display: flex;
    flex-direction: column;
    gap: var(--space20);
    align-items: flex-end;
}

.list .listwrap ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--space10);
}
.list .listwrap ul li{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.list .listwrap ul li a .top{
    display: flex;
    padding: var(--space10);
    gap: var(--space10);
    background: var(--main-color);
}

.list .listwrap ul li a .top img{
    width: 100%;
    max-width: 120px;
    aspect-ratio: 120/165;
    object-fit: cover;
    border-radius: 10px;
}
.list .listwrap ul li a .bottom{
    display: flex;
    padding: var(--margin-top20) var(--space20);
    gap: var(--space30);
    background: var(--white-l);
}
.list .listwrap ul li a .bottom img{
    aspect-ratio: 1/1;
    max-width: 50px;
    height: auto;
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
}
.list .listwrap ul li a .bottom .b8{
    color: var(--gray1);
}
@media (max-width: 1400px) {
    .ContestItemDetail .contentBox {
        gap: var(--space60);
    }

    .contentBox .video-container {
        max-width: 30%;
    }

    .contentBox .description .Topdescription {
        gap: var(--margin-top10);
    }

    .contentBox .description {
        gap: var(--margin-top30);
    }

    @media (max-width: 1100px) {
        .ContestItemDetail .contentBox {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            gap: var(--margin-top30);
        }

        .contentBox .video-container {
            max-width: 40%;
        }

        .contentBox .watchott {
            display: flex;
            width: 100%;
            align-items: flex-start;
            background: var(--white);
            padding: var(--space20);
            border-radius: 20px;
        }

        .contentBox .watchott ul {
            flex-direction: row;
            gap: var(--space20);
        }

        .contentBox .watchott ul li a img {
            filter: saturate(100%);
        }

        .contentBox .watchott ul li a:hover img {
            filter: saturate(100%);
        }
    }



    @media (max-width: 800px) {
        .rieview-bg .review {
            padding: var(--margin-top80) var(--wrap);
        }

        .rieview-bg .review .myReview .user-icon {
            display: none;
        }

        .rieview-bg .review .myReview input {
            font-size: var(--body8-size);
        }

        .rieview-bg .review .userReview .userReviewContents .userReviewTop .icons {
            display: none;
        }

        .Cast .castMember {
            justify-content: space-evenly;
        }

        .Cast .castMember li {
            width: clamp(150px, 30vw, 434px);
        }

        .b4 {
            font-size: var(--body5-size);
        }

        .contentBox .description .Topdescription .title .b7 {
            font-size: var(--body8-size);
        }

        .b6 {
            font-size: var(--body7-size);
        }

        h2 {
            font-size: var(--h3-size);
        }

        .galleryBg .gallery {
            gap: var(--margin-top40);
        }

        .Cast h2 {
            margin-bottom: var(--margin-top40);
        }

        .VideoSlideBg .VideoSlide {
            gap: var(--margin-top40);
        }

        .Cast .castMember li .b6 {
            font-size: var(--body7-size);
        }

        .Cast .castMember li .b7 {
            font-size: var(--body8-size);
        }
        .recommend{
            gap: var(--margin-top40);
        }
        .list {
            gap: var(--margin-top40);
        }
    }
}