@charset "utf-8";

main {
    padding: 2px 0;
}

.editwrap {
    margin: var(--margin-top80) clamp(16px, 15vw, 200px) var(--margin-top150) clamp(16px, 15vw, 200px);
    ;
    background: var(--white);
    padding: var(--margin-top40) var(--space80);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-top80);
    border-radius: 10px;
}

.editwrap .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-top40);
}

.cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--margin-top60);
}

.cont>div {
    display: flex;
    flex-direction: column;
    gap: var(--margin-top20);
}

span {
    margin-left: var(--space10);
    color: var(--red);
}

.cont .txt textarea {
    padding: var(--space10);
    height: 30vh;
    font-size: var(--body8-size);
    border: 2px solid var(--light-gray2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
    font-family: var(--pretendard);
    line-height: 130%;
}

.cont .txt textarea:focus {
    border-color: var(--point-color);
    outline: none;
    box-shadow: 0 0 5px rgba(238, 184, 49, 0.8);
}

.cont .phonemail {
    display: flex;
    gap: var(--space80);
    flex-direction: row;
}

.cont .phonemail>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--margin-top20);
}

.cont .phonemail>div input {
    width: 100%;
}

input {
    height: clamp(30px, 10vh, 50px);
    display: flex;
    align-items: center;
    padding: var(--space10);
    font-size: var(--body8-size);
    border: 2px solid var(--light-gray2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
}

input:focus {
    border-color: var(--point-color);
    outline: none;
    box-shadow: 0 0 5px rgba(238, 184, 49, 0.8);
}
.file input{
    display: none;
}
.fileinput {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--pretendard);
}

.file-btn {
    height: clamp(30px, 10vh, 50px);
    display: flex;
    align-items: center;
    padding: var(--space10);
    background-color: var(--light-gray2);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--body8-size);
    transition: background-color 0.3s;
    font-family: var(--pretendard);
}

.file-btn:hover {
    background-color: var(--point-color);
}

.file-name {
    height: clamp(30px, 10vh, 50px);
    display: flex;
    align-items: center;
    border: 2px solid var(--light-gray2);
    border-radius: 5px;
    padding: var(--space10);
    flex: 1;
    color: var(--gray2);
    font-size: var(--body8-size);
}

.btns {
    margin-top: var(--margin-top80);
    display: flex;
    gap: var(--space40);
    margin-bottom: var(--margin-top160);
}

.btns a {
    cursor: pointer;
    border-radius: 10px;
    background: var(--light-gray1);
    width: clamp(200px, 12vw, 300px);
    height: clamp(60px, 10vw, 84px);
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    font-size: var(--button1-size);
    font-weight: 400;
    align-items: center;
    color: var(--black);
}

.btns a.bigbt_neg {
    font-size: var(--body5-size);
    font-weight: 500;
    background: var(--white-l);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.btns a.bigbt_pos {
    font-size: var(--body5-size);
    font-weight: 500;
    background: var(--point-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}