@charset "utf-8";



/* tabbar */

.toptabs {
    width: 100%;
    position: relative;
    padding: 0 var(--wrap);
}

.tabbar {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.tabbar li {
    display: flex;
    width: clamp(80px, 12vw, 145px);
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    color: var(--gray1);
}

.tabbar li.active {
    color: var(--brown);
    border-bottom: 2px solid var(--brown);
}


.editwrap {
    margin: var(--margin-top160) var(--wrap);
    background: var(--white);
    padding: var(--margin-top40) var(--space80);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-top80);
}

.editwrap .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-top40);
}

.cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--margin-top20);
}

.forms {
    width: 100%;
    display: flex;
    gap: var(--space20);
}

.forms select {
    width: clamp(150px, 18vw, 200px);
    padding: var(--space10);
    font-size: var(--body8-size);
    border: 2px solid var(--light-gray2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/icon/dropdown.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

/* select 요소의 컨테이너에 화살표 추가 */
.select-container {
    position: relative;
    display: inline-block;
    /* width: 200px; */
}


/* select 박스가 포커스될 때 스타일 */
select:focus {
    border-color: var(--point-color);
    outline: none;
    box-shadow: 0 0 5px rgba(238, 184, 49, 0.8);
    background-image: url(../img/icon/dropdownactive.svg);
}

/* 옵션 스타일 */
option {
    padding: 10px;
}

.forms input {
    width: clamp(200px, 24vw, 300px);
    padding: var(--space10);
    font-size: var(--body8-size);
    border: 2px solid var(--light-gray2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
}

.forms input:focus {
    border-color: var(--point-color);
    outline: none;
    box-shadow: 0 0 5px rgba(238, 184, 49, 0.8);
}



.editwrap .ck.ck-editor {
    width: 100%;
    max-width: 1545px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--light-gray2);
    border-radius: 10px;
}


/* 입력창 (본문 영역) */
.ck.ck-editor__editable_inline {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    height: clamp(300px, 60vh, 600px);
    background-color: #fffbea;
}

.ck.ck-editor:focus {
    box-shadow: 0 0 5px rgba(238, 184, 49, 0.8);
    outline: none;
}

.btns {
    display: flex;
    gap: var(--space40);
    margin-bottom: var(--margin-top160);
}

.btns a {
    cursor: pointer;
    border-radius: 10px;
    background: var(--light-gray1);
    width: clamp(200px, 12vw, 300px);
    height: clamp(60px, 10vw, 84px);
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    font-size: var(--button1-size);
    font-weight: 400;
    align-items: center;
    color: var(--black);
}

.btns a.bigbt_neg {
    font-size: var(--body5-size);
    font-weight: 500;
    background: var(--white-l);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.btns a.bigbt_pos {
    font-size: var(--body5-size);
    font-weight: 500;
    background: var(--point-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}