body {
    background: var(--sub-color);
}

/* tabbar */

main{
    padding: 0 var(--wrap);
}

.toptabs {
    width: 100%;
    position: relative;
}

.tabbar {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.tabbar li {
    display: flex;
    width: clamp(80px, 12vw, 145px);
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    color: var(--gray1);
}

.tabbar li.active {
    color: var(--brown);
    border-bottom: 2px solid var(--brown);
}


/*  contestlistall  */

.contestFilter-container {
    display: flex;
    gap: clamp(6px, 2vw, 30px);
    justify-content: flex-end;
}
/* 
.contestFilter-container button {
    display: flex;
    width: clamp(40px, 10vw, 100px);
    aspect-ratio: 2.2 / 1;
    justify-content: center;
    align-items: center;
    font-size: var(--button1-size);
    font-weight: 400;
    line-height: 130%;
    border-radius: 40px;
    background: var(--light-gray2);
    color: var(--black);
    border: 0;
    font-family: var(--pretendard);
}

.contestFilter-container button.on {
    background: var(--white-l);
    color: var(--black);
} */

 .year-select {
  padding: clamp(6px, 1.5vw, 8px) clamp(12px, 4vw, 16px);
  font-size: var(--button2-size);
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.contestWrap {
    margin-top: clamp(14px, 5vh, 26px);
    width: 100%;
    background: var(--main-color);
    display: flex;
    border-radius: 20px;
    padding: clamp(12px, 3vw, 40px) clamp(20px, 10vw, 70px);
    justify-content: space-between;
    gap: clamp(2px, 5%, 160px);
    align-items: flex-start;
}

.contestWrap .contestWrapLeft {
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 2vw, 30px);
    width: 100%;
}

.contestWrap .contestWrapLeft .contestlistWrap {
    width: 100%;
    position: relative;
    height: fit-content;
    padding-bottom: clamp(20px, 10vh, 50px);
}

.contestlistWrap::-webkit-scrollbar {
    display: none;
}

.contestWrap .contestWrapLeft .contestlist.on.swiper {}

.contestWrap .contestWrapLeft .contestlist .swiper-wrapper {
    display: none;
    flex-direction: column;
    gap: clamp(16px, 2vw, 30px);
}


.contestWrap .contestWrapLeft .contestlist.on .swiper-wrapper {
    display: flex;
}

.swiper-slide.list-item-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: clamp(16px, 3vw, 34px) clamp(16px, 3vw, 30px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    background: #ccc;
    position: relative;
    height: auto !important;
}

.swiper-slide.list-item-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.swiper-slide.list-item-container .bggra {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 41.83%);
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.list-item-container .itemtop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}


.list-item-container .itemtop h4 {
    color: var(--white);
}

.list-item-container .itemtop .b8 {
    color: var(--gray1);
}


.heart-icon {
    position: relative;
    z-index: 2;
    width: clamp(20px, 4vw, 34px);
    height: clamp(20px, 4vw, 34px);
    cursor: pointer;
    background: url(../img/icon/heartempty.svg) no-repeat center/cover;
}

.heart-icon.on {
    background: url(../img/icon/heartfilled.svg) no-repeat center/cover;
}


.contestlist div.swiper-pagination {
    display: none;
    position: absolute;
    bottom: 0;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: none;
    border: 1px solid var(--white-l);
}

.contestlist .swiper-pagination-bullet-active {
    background: var(--white-l);
}


.contestWrapRight {
    width: fit-content;
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.contestlistDetail {
    position: sticky;
    top: 0;
    align-self: flex-start;
}
.contestlistDetail .top {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: clamp(20px, 4vw, 30px);
}

.contestlistDetail h3 {
    /* margin-top: clamp(24px, 5vw, 76px); */
    color: var(--point-color);
    word-break: keep-all;
}

.contestlistDetail .ratLink {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: flex-end;
    align-items: flex-end;
    gap: clamp(14px, 2vw, 16px);
}

.star-rating-container {
    display: flex;
    align-items: center;
    width: auto;
    gap: 8px;
}

.star-rating {
    display: flex;
    gap: 4px;
}

.star-icon {
    width: clamp(18px, 2vw, 24px);
    height: auto;
}


.contestlistDetail .member {
    display: flex;
    gap: clamp(10px, 2vw, 45px);
    margin-bottom: clamp(20px, 5vw, 64px);
}

.contestlistDetail .member li {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 2vw, 12px);
    justify-content: center;
    align-items: center;
}

.contestlistDetail .member li .pic {
    width: clamp(80px, 6.5vw, 120px);
    aspect-ratio: 1 / 1;
    border-radius: 120px;
    border: 1px solid var(--point-color);
}

.contestlistDetail .member li:nth-child(1) .pic {
    background: url(../img/contestlist/contestlistmember1.png) center/cover no-repeat;
}

.contestlistDetail .member li:nth-child(2) .pic {
    background: url(../img/contestlist/contestlistmember2.png) center/cover no-repeat;
}

.contestlistDetail .member li:nth-child(3) .pic {
    background: url(../img/contestlist/contestlistmember3.png) center/cover no-repeat;
}

.contestlistDetail .member li:nth-child(4) .pic {
    background: url(../img/contestlist/contestlistmember4.png) center/cover no-repeat;
}

.contestlistDetail .member li:nth-child(5) .pic {
    background: url(../img/contestlist/contestlistmember5.png) center/cover no-repeat;
}

.contestlistDetail .member li .b8 {
    color: var(--white);
}


.gobtn {
    width: clamp(120px, 10vw, 142px);
    height: clamp(40px, 5vw, 46px);
    font-size: var(--button2-size);
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-gray1);
}

.contestlistDetail .explanation {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3vw, 30px);
}

.contestlistDetail .explanation li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contestlistDetail .explanation li .b6 {
    color: var(--white);
}

.contestlistDetail .explanation li .b8 {
    display: flex;
    width: clamp(320px, 40vw, 780px);
    height: auto;
    padding: clamp(12px, 3vw, 24px) clamp(16px, 5vw, 32px);
    background: var(--light-gray2);
    box-shadow: 0px 1px 2px 0px #B0B0B0 inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    word-break: keep-all;
    border-radius: 10px;
}