@charset "utf-8";

/* tabbar */

.toptabs {
    width: 100%;
    position: relative;
    padding: 0 var(--wrap);
}

.tabbar {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.tabbar li {
    display: flex;
    width: clamp(80px, 12vw, 145px);
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    color: var(--gray1);
}

.tabbar li.active {
    color: var(--brown);
    border-bottom: 2px solid var(--brown);
}


main{
  
}

.completwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--margin-top160) var(--wrap);
    flex-direction: column;
    gap: var(--space40);
}

.completwrap .inner{
    width: 100%;
    max-height: 50vh;
    height: 100vh;
    padding: var(--margin-top160) var(--space40);
    border-radius: 10px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray2);
    flex-direction: column;
    gap: var(--margin-top30);
}

.bigbt_pos {
    border-radius: 10px;
    width: clamp(200px, 12vw, 300px);
    height: clamp(60px, 10vw, 84px);
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-size: var(--body5-size);
    font-weight: 500;
    background: var(--point-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}