@charset "utf-8";

main {
    padding-bottom: 0;
}

.main_visual {
    width: 100%;
    padding: var(--margin-top160) var(--wrap);

}


.titbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.titbox h3 {
    text-align: center;
    color: var(--black);
}

.titbox .b2 {
    color: var(--point-color);
    border-bottom: 10px solid var(--point-color);
    margin-bottom: 60px;
    margin-top: 10px;
}

.eventinfo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding-top: 200px;
}

.eventinfo1 img {
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.eventinfo1 .tit {
    background: var(--main-color);
    border-radius: 0 0 20px 20px;
    width: 1200px;
    height: 180px;
    color: var(--white-l);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.eventinfo2 {
    position: relative;
    display: inline-block;
    width: 100%;

}

.eventinfo2 img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    /* 선택 사항 */
}

.eventinfo2 .tit2 {
    position: absolute;
    color: white;
    z-index: 2;
    bottom: 100px;
    left: 1000px;
         object-fit: cover;
}
.eventinfo2 .tit2 .b3{
    margin-bottom: 20px;
}
.eventinfo2 .tit2 h3{
    margin-bottom: 80px;
}
.eventinfo2 .tit2 .b5{
    text-align: right;
}