@charset "utf-8";

main {
    padding-bottom: 0;
}

.main_visual {
    width: 100%;
    padding: var(--margin-top160) var(--wrap);

}


.titbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.titbox h3 {
    text-align: center;
    color: var(--black);
}

.titbox .b2 {
    color: var(--point-color);
    border-bottom: 10px solid var(--point-color);
    margin-bottom: 60px;
    margin-top: 10px;
}

.eventinfo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding-top: 200px;
}

.eventinfo1 img {
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.eventinfo1 .tit {
    background: var(--main-color);
    border-radius: 0 0 20px 20px;
    width: 1200px;
    height: 180px;
    color: var(--white-l);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.titbox2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../img/event/event_infoimg2.png) center/cover no-repeat;
    object-fit: cover;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: end;
    margin-top: 100px;
}

.titbox2 .tit2 {
    position: relative;
    /* 기준 */
    padding-right: 100px;
    padding-bottom: 50px;
}

.titbox2 .tit2 .b3 {
    padding-bottom: 20px;
    color: var(--white-l);
}

.titbox2 .tit2 h3 {
    padding-bottom: 80px;
    color: var(--white-l);
}

.btn {
    display: flex;
    justify-content: right;
}

.titbox2 .tit2 .b5 {
    right: 0;
    bottom: 0;
    background: var(--main-color);
    white-space: nowrap;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-l);
}

/* last txt */
.lasttxt {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-top: 150px;
    margin-bottom: 200px;
    align-items: flex-end;
}

.lasttxt .lefttxt {
    display: flex;
    gap: 90px;
}

.lasttxt .lefttxt ul.b5 {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.lasttxt .lefttxt ul.b5 li {
    color: var(--point-color);
}

.lasttxt .lefttxt ul.right {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.lasttxt .lefttxt ul.right li {
    color: var(--black);
}

.righttxt {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.righttxt h3 {
    color: var(--black);
}

.righttxt .b6 {
    display: flex;
    flex-direction: column;
    color: var(--light-gray2);
}