footer {
    width: 100%;
    padding: 0 var(--wrap);
    color: var(--gray2);
    position: relative;
    z-index: 10;
}

footer .topfooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--margin-top60) 0 var(--margin-top40);
    border-bottom: 1px solid var(--point-color);
}

footer .topfooter>img {
   max-width: 120px;
   aspect-ratio: 120 / 57;
   margin-bottom: var(--margin-top60);
}

footer ul{
    display: flex;
    gap: var(--space40);
}

footer ul .bu1{
     font-weight: 600;
    text-align: center;
}

footer .ft{
   margin-top: var(--margin-top20);
}
footer .copy .ft{
    font-size: var(--body6-size);
    text-align: center;
    padding: var(--margin-top30) 0;
}

@media (max-width: 500px){
    footer ul .bu1 {
        font-size: var(--body8-size);
    }
}