header {
    padding: 0 var(--wrap);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0px -4px 30px 0px rgba(71, 69, 62, 0.20);
}

header .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--margin-top20) 0;
}

.top .nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: var(--space24);
}

.top .nav .MainLogo img {
    max-width: 147px;
    aspect-ratio: 147 / 70;
    height: auto;
}

.top .nav .gnb {
    display: flex;
    gap: clamp(16px, 4vw, 36px);
    align-items: center;
    color: var(--black);
    padding-bottom: clamp(8px, 2vw, 16px);
}

.top .nav .gnb a .b6 {
    transition: 0.5s linear;
}
.top .nav .gnb a:first-child{
    color: var(--point-color);
}
.top .nav .gnb a:hover .b6 {
    font-weight: 700;
}

.top .nav .gnb .active .b6 {
      font-weight: 700;
}

.top .lefticon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(14px, 3vw, 30px);
    padding-bottom: clamp(8px, 2vw, 16px);
}

.top .lefticon img {
    width: clamp(20px, 4vw, 34px);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.top .hamMenu {
    display: none;
    width: clamp(20px, 4vw, 34px);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

@media (max-width: 830px) {
    .top .nav .gnb {
        display: none;
    }

    .top .lefticon {
        display: none;
    }

    .top .hamMenu {
        display: block;
    }
}