@charset "utf-8";

.main_visual {
    width: 100%;
    padding: var(--margin-top160) var(--wrap);
}

.main_visual .h3 {
    color: var(--black);
}

.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 78px;
}

.main_box ul {
    display: flex;
    gap: 78px;
}

.main_box ul li {
    position: relative;
    display: inline-block;
    transition: opacity 0.4s ease;
}

.main_box ul li:hover {
    opacity: .5;
}

.main_box ul.list1 {
    margin-top: var(--margin-top40);
}

.main_box ul li img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
}

.main_box ul li h4 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    white-space: nowrap;
}