@charset "utf-8";

main {
    margin-top: var(--space40);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  mainvisual */
.mainvisual {
    width: clamp(320px, 90vw, 1720px);
    height: clamp(200px, 50vw, 590px);
    position: relative;
    background: #ccc;
    border-radius: 12px;
    overflow: hidden;
}

.mainvisual .mainSwiper {
    width: 100%;
    height: 100%;
}

.mainvisual .mainSwiper .mainswsl {
    width: 100%;
    height: 100%;
}
.mainvisual .mainSwiper .mainswsl a{
   width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.mainvisual .mainSwiper .mainswsl .txtbox {
    background: #aaa;
    padding: clamp(20px, 4vw, 42px) clamp(24px, 5vw, 46px);
    border-radius: 0px 12px 12px 0px;
    display: flex;
    gap: clamp(18px, 4vw, 30px);
    align-items: flex-start;
}

.mainvisual .mainSwiper .mainswsl .txtbox .b1 {
    color: var(--point-color);

}

.mainswsl .txtbox .discription {
    display: flex;
    flex-direction: column;
    padding: var(--space20) 0;
    color: var(--white);
    gap: clamp(16px, 4vw, 26px);
    width: clamp(280px, 50vw, 538px);
}

.mainswsl .txtbox .discription .info {}

.mainswsl .txtbox .discription .info .b4 {
    padding-bottom: var(--space10);
}

.mainswsl .txtbox .discription .info h6 {}

.mainswsl .txtbox .discription .starlank {
    display: flex;
    gap: var(--space20);
    align-items: center;
    width: 100%;
}

.mainswsl .txtbox .discription .starlank .starbox {}

.mainswsl .txtbox .discription .starlank .starbox img {
    width: clamp(16px, 5vw, 24px);
    height: clamp(16px, 5vw, 24px);
}

.mainswsl .txtbox .discription .b7 {}

.mainswsl .txtbox .discription .bt2 {
    text-align: justify;
}

.mainvisual .mainSwiper .mainswsl .otticon {
    width: clamp(60px, 8vw, 100px);
    height: clamp(60px, 8vw, 100px);
    background: red;
    border-radius: 50%;
    position: absolute;
    top: clamp(20px, 2vw, 32px);
    right: clamp(20px, 2vw, 32px);
}


/* contesttop  */

.contesttop {
    width: 100%;
    padding: clamp(80px, 15vh, 184px) 0 clamp(60px, 10vh, 110px);
}

.contesttopwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space50);
}

.contesttopwrap .b4 {
    width: 100%;
}

.contesttoplist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: var(--space20);
    width: fit-content;
}

.contesttoplist .contestli {
    display: flex;
    gap: clamp(20px, 5vw, 58px);
    align-items: flex-start;
}

.contesttoplist .contestli .item {
    display: flex;
    flex-direction: column;
    gap: clamp(6px, 8vh, 26px);
}

.contesttoplist .contestli .left {
    width: clamp(300px, 60vw, 980px);
    text-align: justify;
}

.contesttoplist .contestli .left .imgbox {
    width: clamp(300px, 60vw, 980px);
    height: clamp(200px, 38vw, 630px);
    background: #ccc;
    border-radius: 2%;
    position: relative;
}

.contesttoplist .contestli .right {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 5vw, 58px)
}

.contesttoplist .contestli .right .item {
    width: clamp(300px, 60vw, 502px);
    text-align: justify;
}

.contesttoplist .contestli .right .imgbox {
    width: clamp(300px, 60vw, 502px);
    height: clamp(200px, 38vw, 270px);
    background: #ccc;
    border-radius: 2%;
    position: relative;
}

/* allcontent */

.allcontent {
    width: 100%;
    padding: clamp(60px, 12vh, 146px) 0 clamp(80px, 15vh, 232px);
}

.allcontent .allconwrap {
    display: flex;
    align-items: center;
    gap: clamp(32px, 8vw, 158px);
}

.allcontent .allconwrap .left {
    gap: var(--space10);
}

.allcontent .allconwrap .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--space20);
}

.allcontent .allconwrap .right .itemlist {
    display: flex;
    gap: clamp(20px, 5vw, 56px);
}

.allconwrap .right .itemlist li {}

.allconwrap .right .itemlist li a {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.allconwrap .right .itemlist li a .imgbox {
    width: clamp(140px, 25vw, 230px);
    height: clamp(200px, 40vw, 317px);
    background: #ccc;
    border-radius: 8px;
}

/* magazine */

.magazine {
    width: 100vw;
    aspect-ratio: 16 / 9;
    max-height: 674px;
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: clamp(60px, 10vh, 114px) clamp(40px, 6vw, 94px);
    color: var(--white);
}

.magazine .b3 {
    margin-bottom: clamp(12px, 3vw, 24px);
}

/* event */

.event {
    display: flex;
    flex-direction: column;
    gap: var(--space50);
    padding: clamp(100px, 15vh, 204px) 0;
}

.eventCon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--space20);
}

.eventCon .evnetSwiper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space20);
}

.eventCon .evnetSwiper .evnetwrapper {
    width: 100%;
    display: flex;
    gap: var(--space20);
}

.evnetwrapper .evntsl {
    width: fit-content;
}

.evnetwrapper .evntsl a {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.evnetwrapper .evntsl a .imgbox {
    width: clamp(280px, 50vw, 560px);
    aspect-ratio: 14 / 9;
    background: #ccc;
}

.evnetwrapper .evntsl a .bottom {
    width: clamp(280px, 50vw, 560px);
    background: var(--black);
    padding: clamp(10px, 3vw, 20px) clamp(8px, 2vw, 14px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--white);
}


/* game */

.game {
    width: 100vw;
    background: var(--black);
    padding:
        clamp(100px, 15vh, 216px) clamp(40px, 8vw, 236px) clamp(160px, 20vh, 426px);
}

.gamecon {
    display: flex;
    flex-direction: column;
    color: var(--white);
    align-items: center;
    text-align: center;
    gap: clamp(32px, 10vw, 192px);
}

.gamecon .b2 {
    color: var(--point-color);
    margin-bottom: var(--space40);
}

.gamecon .bottomcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space50);
    width: 100%;
}

.gamecon .bottomcon li {
    width: fit-content;
    height: auto;
}

.gamecon .bottomcon li a {
    display: flex;
    flex-direction: column;
    padding: clamp(24px, 6vh, 50px) clamp(20px, 4vw, 44px) clamp(16px, 4vh, 26px) clamp(20px, 4vw, 44px);
    background: var(--white);
    color: var(--black);
    gap: var(--space20);
}

.gamecon .bottomcon li a .imgbox {
    width: clamp(280px, 50vw, 610px);
    aspect-ratio: 610 / 442;
    max-height: 442px;
    background: #ccc;
}

.gamecon .bottomcon li a .txtbox{
    display: flex;
    flex-direction: column;
    gap: var(--space10);
}