@charset "utf-8";

body {
    background: var(--white);
}

main {
    margin-top: clamp(80px, 12vw, 150px);
}

/* 메인비주얼 */

.mainvisual {
    padding: 0 var(--wrap);
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-top40);
    margin-bottom: var(--margin-top160);
    gap: var(--margin-top20);
    justify-content: center;
    align-items: center;
    color: var(--white);
}

/* 메인비주얼-top */

.mainvisual>.top {
    width: 100%;
    aspect-ratio: 1705 / 680;
    height: auto;
    border-radius: 20px;
    position: relative;
    background: url(../img/main/mainvisual_img1.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: clamp(40px, 7vh, 55px) clamp(30px, 5vw, 60px);
}

.mainvisual .top .ott {
    display: flex;
    justify-content: flex-end;
}

.mainvisual .top .ott img {
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    width: clamp(60px, 10vw, 120px);
    height: clamp(60px, 10vw, 120px);
    object-fit: cover;
}

.mainvisual .top .description .topcon {
    border-bottom: 2px solid var(--point-color);
    padding-bottom: 15px;
    display: flex;
    gap: clamp(40px, 10vw, 204px);
    width: fit-content;
    align-items: flex-end;
    margin-bottom: var(--margin-top80);
}

.mainvisual .top .description .topcon .tit_num {
    display: flex;
    align-items: flex-end;
    gap: var(--space20);
}

.topcon .tit_num .ab_exb_200 {
    color: var(--point-color);
}

.ratLink {
    display: flex;
    gap: var(--space20);
    color: var(--light-gray1);
}

.star-rating-container {
    display: flex;
    align-items: center;
    width: auto;
    gap: 8px;
}

.star-rating {
    display: flex;
    gap: 4px;
}

.star-icon {
    width: clamp(18px, 2vw, 24px);
    height: auto;
}

.description .bottom {
    word-break: keep-all;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: var(--margin-top30);
}

/* 메인비주얼-bottom */
.mainvisual .bottom {
    width: 100%;
    display: flex;
    gap: var(--space20);
}

.mainvisual .bottom .b_rank {
    display: flex;
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 10;
    border-radius: 20px;
    padding: var(--space20);
    overflow: hidden;
}

.mainvisual .bottom .b_rank:nth-child(1) {
    background: url(../img/main/mainvisual_img2.png) center/cover no-repeat;
}

.mainvisual .bottom .b_rank:nth-child(2) {
    background: url(../img/main/mainvisual_img3.png) center/cover no-repeat;
}

.mainvisual .bottom .b_rank:nth-child(3) {
    background: url(../img/main/mainvisual_img4.png) center/cover no-repeat;
}

.mainvisual .bottom .b_rank a {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.mainvisual .bottom .b_rank .ott {
    display: flex;
    justify-content: flex-end;
}

.mainvisual .bottom .b_rank .ott img {
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    width: clamp(60px, 8vw, 80px);
    aspect-ratio: 1 / 1;
}

.mainvisual .bottom .b_rank .tit {
    width: 100%;
    display: flex;
    padding: 0 clamp(8px, 2vw, 15px) clamp(8px, 2vw, 10px);
    gap: clamp(10px, 2vw, 20px);
    border-bottom: 2px solid var(--point-color);
    align-items: flex-end;
    margin-bottom: 10px;
}

.mainvisual .bottom .b_rank .tit .ab_exb_90 {
    color: var(--point-color);
}

/* ScenehouseTop */

.ScenehouseTop {
    padding: var(--margin-top160) var(--wrap);
    display: flex;
    flex-direction: column;
    gap: var(--margin-top80);
}

.ScenehouseTop .tit .b_80 {
    margin-bottom: var(--margin-top10);
}

.ScenehouseTop .container {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

/* ScenehouseTop left */
.ScenehouseTop .container .left {
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 10vh, 70px);
}

.ScenehouseTop .container .left .img {
    width: clamp(320px, 70vw, 1015px);
    aspect-ratio: 1015 / 630;
    padding: clamp(24px, 5vh, 50px) clamp(32px, 6vw, 64px);
    border-radius: 20px;
    border: 5px solid var(--point-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--white);
    background: url(../img/main/ScenehouseTopimg1.png) center/cover no-repeat;
}

.ScenehouseTop .container .left .img .pura_60 {
    border-bottom: 2px solid var(--point-color);
    margin-bottom: clamp(8px, 2vh, 15px);
}

.ScenehouseTop .container .left .r_25 {
    text-align: justify;
    word-break: keep-all;
    color: var(--gray2);
    padding: 0 var(--space20);
}


/* ScenehouseTop right */
.ScenehouseTop .container .right {
    border-radius: 20px;
    border: 5px solid var(--point-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ScenehouseTop .container .right .img {
    display: flex;
    aspect-ratio: 32 / 21;
    width: clamp(320px, 40vw, 640px);
    padding: clamp(24px, 5vw, 40px) clamp(32px, 6vw, 64px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: var(--margin-top10);
    color: var(--white);
}

.ScenehouseTop .container .right .top {
    background: url(../img/main/ScenehouseTopimg2.png) center/cover no-repeat;
}

.ScenehouseTop .container .right .bottom {
    background: url(../img/main/ScenehouseTopimg3.png) center/cover no-repeat;
}

.ScenehouseTop .container .right .pura_40 {
    border-bottom: 2px solid var(--point-color);
}

/* bethebest */

.bethebest {
    padding: clamp(100px, 10vh, 180px) var(--wrap) clamp(140px, 30vh, 260px) ;
    width: 100vw;
    background: var(--main-color);
    color: var(--white);
    height: auto;
    display: flex;
    flex-direction: column;
}

.bethebest .tit {
    color: var(--point-color);
}

.bethebest ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bethebest ul li {
    margin-top: var(--margin-top50);
}

.bethebest ul li:nth-child(odd) {
    margin-top: var(--margin-top150);
}

.bethebest ul li a {
    display: flex;
    flex-direction: column;
    gap: var(--margin-top30);
}


.bethebest ul li img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 400 / 594;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 20px;

}

.bethebest ul li:nth-child(odd) img {
    border-top: 5px solid var(--point-color);
}

.bethebest ul li:nth-child(even) img {
    border-bottom: 5px solid var(--point-color);
}

.bethebest ul li a .txt {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 15px);
}