@charset "utf-8";

.mypageul a.active h5 {
  font-weight: 800;
}

.wrap {
  display: flex;
}

main {
  width: 100%;
  height: 1200px;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
}

nav {
  width: 270px;
  height: 100%;
/*   background-color: darkgrey; */
  margin-top: 90px;
  padding-left: 100px;
}

nav .mypageul {
  display: flex;
  flex-direction: column;
}

nav .mypageul img {
  margin-bottom: 50px;
}

nav .mypageul li {
  margin-bottom: 20px;
}

.container {
   margin-top: var(--margin-top10);
  width: calc(100% - 270px);
  height: 1200px;
}

.container h4 {
  margin-top: 90px;
  padding-left: 120px;
  padding-bottom: 20px;
}
.smalltab ul a.active{
    font-weight: 800;
     border-bottom: 2px solid var(--point-color); 
}
.smalltab ul {
  height: 40px;
  display: flex;
  font-size: var(--body6-size);
  font-weight: 500;
  line-height: 150%;
  padding-left: 120px;
  gap: 30px;
}
.smalltab ul li a:hover{
    border-bottom: 2px solid var(--point-color); 
}

.topimglist {
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  gap: 80px;
}

.topimglist .top {
  display: flex;
  gap: 58px;
}
.topimglist .top li{
  position: relative;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.topimglist .foot {
  display: flex;
  gap: 58px;
}
.topimglist .foot li{
    position: relative;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
/* 하트 아이콘 */
.heart-icon {
    position: absolute;
    left: 190px;
    top: 270px;
    z-index: 2;
    width: clamp(20px, 4vw, 34px);
    height: clamp(20px, 4vw, 34px);
    cursor: pointer;
    background: url(../img/icon/heartempty.svg) no-repeat center/cover;
}

.heart-icon.on {
    background: url(../img/icon/heartfilled.svg) no-repeat center/cover;
}