@charset "utf-8";
.main{
    width: 100%;
    display: flex;
    position: relative;
}
.bk{
    height: 100%;
    background: yellow;
    width: calc(100% - 270px);
}
.mypageul{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    gap: 20px;
    width: 270px;
    background: #ccc;
    height: 1535px;
}
.mypageul a img{
    padding-bottom: 20px;
}