@charset "utf-8";

body {
    background: var();
}

/* tabbar */

.main_visual {
    background: url(../img/scenegame/scenegamebigimg.png) no-repeat top center;
    /* background-size: auto; */
    width: 100%;
    height: 2491px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

main {
    padding: 0 var(--wrap);
    flex-direction: column;
}

.top_btn {
    display: flex;
    align-items: end;
}

.toptabs {
    width: 100%;
    position: relative;
}

.tabbar {
    width: 100%;
    display: flex;
    padding: 20px 0;
}

.tabbar li {
    display: flex;
    width: clamp(80px, 12vw, 145px);
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    color: var(--gray1);
}

.tabbar li.active {
    color: var(--brown);
    border-bottom: 2px solid var(--brown);
}


.bigtit {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 700px;
    color: var(--white-l);
}

.container {
    width: 755px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
}

.head {
    width: 100%;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: var(--black);
    color: var(--white-l);
}

.foot {
    color: var(--gray2);
    text-align: center;
    padding-top: 80px;
}

.foot h4 {
    padding-bottom: 40px;
}

.foot .imgbox {
    width: 584px;
    height: 500px;
    background: var(--light-gray1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot .imgbox .topimg {
    display: flex;
    gap: 120px;
    padding-left: 80px;
    margin-bottom: -30px;
}

.foot .imgbox .topimg li img {
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.foot .imgbox .footimg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 120px;
    padding-right: 80px;
}

.foot .imgbox .footimg li img {
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.lastbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 584px;
    height: 380px;
    border-radius: 20px;
    background: var(--light-gray1);
}

.h3 {
    display: flex;
    justify-content: flex-start;
}

.lastbox h4 {
    padding-top: 62px;
    color: var(--black);
    padding-bottom: 30px;
}

.lastbox .photo {
    display: flex;
    gap: 20px;
}

.lastbox .photo li {
    width: 121px;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-gray2);
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.btn h6{
    color: var(--black);
    width: 200px;
    display: flex;
    padding: var(--margin-top20) var(--space30);
    align-items: center;
    border-radius: 10px;
    background: var(--point-color);
    justify-content: center;
    margin-top: 25px;
}