.CastingItemWraper {
    width: 100%;
    padding: clamp(24px, 5vw, 50px) clamp(40px, 10vw, 140px);
}

.CastingItem {
    background: var(--white);
    border-radius: 10px;
}

.CastingItem .Top {
    display: flex;
    justify-content: flex-start;
    padding: clamp(20px, 3vw, 36px) clamp(40px, 10vw, 146px);
    border-bottom: 2px solid var(--sub-color);
}

.CastingItem .bottom {
    padding: 0 clamp(40px, 10vw, 140px) clamp(30px, 4vw, 102px);
}

.id_date {
    display: flex;
    justify-content: space-between;
    padding: clamp(20px, 3vw, 36px) 0;
    align-items: center;
}

.id_date .user {
    display: flex;
    gap: clamp(12px, 10vw, 20px);
    align-items: center;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.id_date .date {
    display: flex;
    font-size: var(--body7-size);
    font-weight: 500;
    line-height: 150%;
    color: var(--gray1);
    gap: var(--space24);
}

.id_date .date li{
    display: flex;
    align-items: center;
    gap: var(--space10);
}

.id_date .date li .txt{
     padding: clamp(2px, 0.5vh, 4px) clamp(10px, 5vw, 20px);
}