@media (max-width: 1700px) {
    .main_visual .top_txt strong {
        font-size: var(--body2-size);
    }

    .scenehouse .scenehousebg .imgwrap .left img {
        width: clamp(320px, 28vw, 500px);
        height: calc(clamp(320px, 28vw, 560px) * 820 / 560);
    }

    .scenehouse .scenehousebg .imgwrap .right img {
        width: clamp(320px, 28vw, 550px);
        height: calc(clamp(320px, 27vw, 550px) * 820 / 560 / 2);
    }
}

@media (max-width: 1230px) {

    .scenehouse .scenehousebg {
        min-height: 1500px;
        height: clamp(900px, 90vh, 1786px);
    }

    .scenehouse .scenehousebg .imgwrap {
        flex-direction: column;
    }

    .scenehouse .scenehousebg .imgwrap .left img {
        width: 100%;
        height: calc(clamp(320px, 30vw, 560px) * 820 / 560);
    }

    .scenehouse .scenehousebg .imgwrap .right {
        flex-direction: row;
    }

    .scenehouse .scenehousebg .imgwrap .right img {
        width: 100%;
        height: calc(clamp(320px, 29vw, 550px) * 820 / 560 / 2);
    }


    .gamelineup .gamewrap {
        gap: clamp(80px, 10vw, 200px);
    }

    .gamelineup .gamewrap>div {
        flex-direction: column;
        text-align: center;
        gap: var(--margin-top20);
    }

    .gamelineup .gamewrap .mid {
        flex-direction: column-reverse;
    }

    .gamewrap .top>img,
    .gamewrap .end>img {
        border-radius: 20px;
        width: 100%;
        height: auto;
        aspect-ratio: 870 / 452;
        object-fit: cover;

    }

    .gamewrap .mid>img {
        width: 100%;
        height: auto;
        aspect-ratio: 870 / 452;
        object-fit: cover;
    }

    .gamewrap br {
        display: none;
    }

    .gamewrap .txt_box {
        align-items: center;
        gap: var(--margin-top40);
    }

}

@media (max-width: 834px) {
    .main_visual {
        justify-content: space-between;
        gap: var(--margin-top20);
        padding: var(--margin-top80) var(--space50);
    }

    h3 {
        font-size: var(--body6-size);
        font-weight: 600;
        line-height: 130%;
    }

    .main_visual .top_txt strong {
        font-size: var(--body3-size);
        font-weight: 700;
        line-height: 100%;
    }

    .scenehouse .scenehousebg {
        gap: var(--margin-top40);
        min-height: 0;
        height: clamp(1000px, 10vh, 1786px);
    }

    .b_80 {
        font-size: var(--h2-size);
        font-weight: 700;
        line-height: 130%;
    }

    .b6 {
        font-size: var(--body7-size);
        font-weight: 400;
        line-height: 150%;
    }

    .scenehouse .scenehousebg .imgwrap .left img {
        width: 100%;
        height: calc(clamp(160px, 30vw, 560px) * 820 / 560);
    }

    .scenehouse .scenehousebg .imgwrap .right img {
        width: 100%;
        height: calc(clamp(160px, 29vw, 550px) * 820 / 560 / 2);
    }

    .button {
        width: clamp(150px, 33vw, 636px);
        height: clamp(40px, 10vw, 140px);
        border-bottom: 5px solid var(--point-color);
    }

    .button h3 {
        font-size: var(--button1-size);
        font-weight: 400;
        line-height: 130%;
    }

    .gamelineup {
        gap: var(--margin-top80);
    }

    .gamewrap .bg {
        display: none;
    }

}

@media (max-width: 500px) {
    
    .main_visual br {
        display: none;
    }

    .scenehouse .scenehousebg {
        height: clamp(800px, 10vh, 1786px);
    }

    .gamelineup {
        gap: var(--margin-top60);
    }
}